.poput__item-button {
  width: 358px;
  height: 50px;
  background: #000000;
  border: 0;
  border-radius: 2px;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  padding: 0;
}

.poput__item-button:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

@media screen and (max-width: 536px) {
  .poput__item-button {
    max-width: 238px;
    height: 46px;
    padding: 0;
  }
}
